<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <span class="navbar-brand">Online Shopping</span>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/add">Add Product</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/list">List Product</a>
                </li>
            </ul>
        </div>

    </div>
</nav>